lc_solver; "XPRESS"
lc_model; minchanges_cg
lc_eval_extended; true
lc_write_lp_file; true
console_log_level; DEBUG
load_generator_fix_upper_frequency; true
load_generator_fixed_upper_frequency; 2000
#gen_passengers_per_vehicle; 100
lc_budget; 2000000
lc_minchanges_nr_ptn_paths; 5
lc_minchanges_nr_max_changes; 3
#lc_verbose; true
lc_minchanges_xpress_logfile; xpress.log
od_use_network_distance; true
od_remove_uncovered_demand_points; false
ptn_stop_waiting_time; 0.5
#lc_minchanges_nr_cg_paths_per_ptn_path; 10
lc_minchanges_cg_var_per_it; 500000